<div class="modal-header" align="center">
	<h4 class="modal-title">Add Product</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<input class="form-control input-md" ng-model="name" placeholder="Enter Name..."/>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 form-group">
			<select class="form-control">
			  <option value="Select">Select</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-6">
		<button class="btn btn-primary" type="button" ng-click="add()">Add</button>
	</div>
	<div class="col-md-6">
		 <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>
<div class="row" ng-if="message">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div align="center" class="alert" ng-class="{'alert-success':success,'alert-danger':!success}">{{message}}</div>
	</div>
</div>