<div class="row page-header">
	<div class="col-sm-11 page-title">Grocery List</div>
	<div class="col-sm-1">
		<span class="glyphicon glyphicon-plus-sign add-product" ng-click="addProduct()"></span>
	</div>
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<!-- Create MODE Table -->
		<table ng-if="mode=='create'" class="table table-bordered">
			<tr>
				<th>Sr.No</th>
				<th width="60%">Product</th>
				<th>Quantity</th>
				<th>MeasuredIn</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="item in list.items">
				<td>{{$index+1}}</td>
				<td width="60%">
					<select ng-model="item.product" class="form-control">
						<option value="{{product}}" ng-repeat="product in products">{{product.name}}</option>
					</select>
				</td>
				<td>
					<input class="form-control input-sm" ng-model="item.quantity" placeholder="Quantity"/>
				</td>
				<td>{{getMeasuredIn(item.product)}}</td>
				<td align="center"><span ng-click="deleteRow(item)" class="glyphicon glyphicon-minus-sign delete-row"></span></td>
			</tr>
			<tfoot>
				<tr>
					<td colspan="5" align="right">
						<button type="button" ng-click="saveList()" class="btn btn-primary">Save</button>
					</td>	
				</tr>
			</tfoot>
		</table>
		<!-- View MODE Table -->
		<table ng-if="mode=='view'" class="table table-bordered">
			<tr>
				<th>Sr.No</th>
				<th width="60%">Product</th>
				<th>Quantity</th>
			</tr>
			<tr ng-repeat="item in list.items">
				<td>{{$index+1}}</td>
				<td width="60%">{{item.name}}</td>
				<td>{{item.quantity}} &nbsp; {{item.measuredIn}}</td>
			</tr>
			<tfoot>
				<tr>
					<td colspan="5" align="right">
						<button type="button" ng-click="backToCreateList()" class="btn btn-link">Back</button>
					</td>	
				</tr>
			</tfoot>
		</table>
	</div>
</div>