<div layout="row">
	<div flex="40" flex-offset="40">
		<div  class="item-row" layout="row" flex="100" ng-controller="ProductAutocompleteController as ctrl">
			<md-autocomplete
					md-no-cache="ctrl.noCache"
					md-selected-item="ctrl.selectedItem"
					md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
					md-search-text="ctrl.searchText"
					md-selected-item-change="ctrl.selectedItemChange(item)"
					md-items="item in ctrl.productSearch(ctrl.searchText)"
					md-item-text="item.name"
					md-min-length="0"
					placeholder="Select a product">
				<md-item-template>
					<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
				</md-item-template>
				<md-not-found>
					No products matching "{{ctrl.searchText}}" were found.
					<a ng-click="ctrl.newProduct(ctrl.searchText)">Create a new one!</a>
				</md-not-found>
			</md-autocomplete>
		</div>
	</div>
</div>
<div layout="row">
	<div flex="40" flex-offset="30">
				<md-card class="veggie-card-custom" md-theme-watch>
					<md-card-title class="veggie-card-title">
						<div>{{masterList.name}}</div>
					</md-card-title>
					<md-card-content class="veggie-card-content" md-padding>
						<div class="item-row" layout="row" ng-repeat="item in masterList.items">
							{{item}}
						</div>
					</md-card-content>
					<md-card-actions layout="row" layout-align="center">
						<md-button ng-click="saveList()">save</md-button>
					</md-card-actions>
				</md-card>
		</div>
</div>
<div layout="row" flex-offset="45" ng-if="message">{{message}}</div>
