<div class="row">
	<!-- Grocery List Container -->
	<div layout="row" layout-xs="column">
		<div flex="20" ng-repeat="list in groceryLists">
				<md-card class="card-custom" md-theme-watch>
					<md-card-title class="card-title">
						<md-card-title-text>
							<span class="md-headline list-title">{{list.name}}</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content md-padding>
						<div class="item-row" layout="row" ng-repeat="product in list.items">
							<div flex="20">
								<md-checkbox ng-model="product.checked"></md-checkbox>
							</div>
							<div flex="80">
								<span class="md-subhead prod-name">{{product}}</span><br/>
							</div>
						</div>
					</md-card-content>
					<md-card-actions layout="row" layout-align="center">
						<md-button ng-click="deleteList(list)">Delete</md-button>
						<md-button>Save</md-button>
					</md-card-actions>
				</md-card>
		</div>
	</div>
</div>
