<br/>
<div layout="row">
	<div flex="25">
		<md-card class="manage-prod-card">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Manage Products</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<md-input-container class="md-block">
					<label>Product Name</label>
					<input ng-model="product.name"/>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Measured In</label>
					<input ng-model="product.measuredIn"/>
				</md-input-container>
			</md-card-content>
			<md-card-actions layout="row" layout-align="center">
				<md-button ng-if="mode=='add'" ng-click="add()" class="md-raised md-primary">Add</md-button>
				<md-button ng-if="mode=='edit'" ng-click="update()" class="md-raised md-accent">Update</md-button>
			</md-card-actions>
		</md-card>
	</div>
	<div flex="75">
		<md-grid-list class="product-list"
			md-col-xs="1" md-col-sm="2" md-col-md="4" md-cols-gt-md="6" 
			md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
				<md-grid-tile ng-click="edit(product)" ng-repeat="product in products" class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
					<img class="img-circle" src="images/{{product.name|lowercase}}.jpg" alt="" width="120">
			      	<md-grid-tile-footer>
			        	<h3>{{product.name}}</h3>
			      	</md-grid-tile-footer>
			    </md-grid-tile>
		</md-grid-list>
	</div>
</div>