<div layout="row" layout-align="center">
	<md-input-container class="md-block">
		<label>Select List</label>
		<md-select ng-change="showList()" ng-model="selected">
			<md-option value="{{item}}" ng-repeat="item in list">{{item.name}}</md-option>
		</md-select>
	</md-input-container>
</div>
<div layout="row" layout-align="center">
	<md-card ng-if="selected!='default'" class="veggie-card-custom" md-theme-watch>
		<md-card-title class="purchase-card-title">
			<md-card-title-text>
				<span class="md-headline">{{selected.name}}</span>
			</md-card-title-text>
		</md-card-title>	
		<md-card-content class="veggie-card-content" md-padding>
			<div class="item-row" layout="row" ng-repeat="item in selected.items">
				<div flex="70" class="prod-item-row">
					<span class="md-subhead prod-name">{{item.name}}</span>
				</div>
				<div flex="30">
					<md-input-container>
						<label>&#8377;</label>
						<input ng-blur="calculateTotal()" flex="50" ng-model="item.cost"/>
					</md-input-container>
				</div>
			</div>
		</md-card-content>
		<br/>
		<div layout="row" class="md-padding tot-row">
			<div flex="70">Total</div>
			<div flex="30">&#8377; {{totalCost}}</div>
		</div>
		<md-card-actions layout="row" layout-align="center">
			<md-button ng-click="updateCosts()">update</md-button>
		</md-card-actions>
	</md-card>
	<div ng-if="message!=null" layout="row" layout-align="center">{{message}}</div>
</div>
