<md-card flex-offset="30" flex="30">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline site-title">Grocero</span>
      <span class="md-headline page-title">Registration</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-input-container class="md-default md-block">
      <label>Name</label>
      <input maxlength="30" ng-model="user.name"/>
    </md-input-container>
    <md-input-container class="md-default md-block">
      <label>Username</label>
      <input maxlength="30" ng-model="user.username"/>
    </md-input-container>
    <md-input-container class="md-default md-block">
      <label>Password</label>
      <input type="password" maxlength="20" ng-model="user.password"/>
    </md-input-container>
  </md-card-content>
  <md-card-actions layout="row" layout-align="center">
    <md-button ng-click="register()">REGISTER</md-button>
  </md-card-actions>
  <div layout="row" layout-margin="10" layout-align="center" ng-if="message" class="success-msg">{{message}}</div>
</md-card>
