@CHARSET "UTF-8";
/*Variables*/
:root{
	--site-navbar-color:#ff6f1b;
	--color-blue:#0064ff;
	--color-gray: rgba(166, 166, 166, 0.22);
	--size5:17px;
	--size6:12px;
	--size4:22px;
	--color-faintgray:rgba(250, 250, 250, 1);
	--color-darkgray:gray;
}

.content-pane{
	padding-left: 30px;
}

.list-name {
	font-size: var(--size4);
	border-bottom: solid 1px var(--color-gray);
	min-height: 40px;
	margin-bottom: 15px;
	padding-left: 18px;
}

.glyphicon-trash:HOVER{
	cursor: pointer;
	color: red !important;
}

.input-lg{
	border-radius:3px !important;
}

.product-list-panel .footer{
	padding-top:10px;
	margin-top:10px;
}

.form-control{
	border-radius:3px !important;
}

.view-listname{
	font-size: var(--size4);
	text-align: center;
}

.product-list-panel{
	border: solid 1px var(--color-gray);
	padding: 20px;
    border-radius: 2px;
    background-color: var(--color-faintgray);
    margin-left: 10px;
}

.product-name{
	color: var(--color-blue);
	font-size: var(--size5);
}

.product-details{
	color: var(--color-darkgray);
	font-size: var(--size6);
}

.checkbox-product {
	width: 13px;
	margin-top: 5px !important;
}

.delete-row {
	color: red;
	cursor: pointer;
}

.add-product {
	font-size: 20px;
	cursor: pointer;
}

.page-title {
	font-size: 30px !important;
}

body {
	font-family: "Roboto", sans-serif;
}

.navbar-custom {
	background-image: none;
	border-radius: 0px;
	background-color: var(--site-navbar-color) !important;
	height: 150px;
	padding-left: 20px;
}

.custom-nav {
	margin-top: 15px;
}

.site-title {
	font-family: 'Roboto', sans-serif;
	font-size: 38px;
	margin-top: 20px;
	margin-left: 10px;
	font-weight: 500;
	color: white;
}

.nav>li>a {
	color: black !important;
}

.custom-nav>li:HOVER {
	color: white !important;
	background-color: none !important;
	border-bottom: solid 2px white;
}

.thumbnail {
	padding-top: 15px;
	background-color: #f3f3f3 !important;
}

.thumbnail:HOVER {
	background-color: #5e9aff !important;
	cursor: pointer;
}