<!DOCTYPE html>
<html ng-app="GroceroUI" lang="en" ng-cloak>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Grocero</title>

<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">

<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
<!-- Angular Material -->
<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

<!-- GroceroUI -->
<!-- <link rel="stylesheet" type="text/css" href="css/site.css"> -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/TabsController.js"></script>
<script type="text/javascript" src="js/controllers/HomeController.js"></script>
<script type="text/javascript" src="js/controllers/ProductsController.js"></script>
<script type="text/javascript" src="js/controllers/VegetablesController.js"></script>
<script type="text/javascript" src="js/controllers/MyListsController.js"></script>
<script type="text/javascript" src="js/controllers/GroceriesController.js"></script>
<script type="text/javascript" src="js/controllers/PurchasesController.js"></script>
<!-- REST Resources -->
<script type="text/javascript" src="js/resources/ProductResource.js"></script>
<script type="text/javascript" src="js/resources/GroceryListResource.js"></script>

</head>
<body ng-controller="TabsController">
	<md-content class="md-padding">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab ng-click="loadView(tab)" ng-repeat="tab in tabs" label="{{tab.name}}"></md-tab>
		</md-tabs>
    </md-content>
	<!-- 	<div class="header">
			<nav class="nav navbar-default navbar-custom" ng-controller="TabsController">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 navbar-header site-title">Grocero</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<ul class="nav navbar-nav custom-nav">
								<li style="text-align: center;" ng-repeat="tab in tabs">
									<a ng-click="loadView(tab)" href="#/{{tab.path}}">{{tab.name|uppercase}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div> -->
		<div class="container-fluid" ng-view></div>
</body>
</html>