<!DOCTYPE html>
<html ng-app="GroceroUI" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Grocero</title>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- GroceroUI -->
<link rel="stylesheet" type="text/css" href="css/site.css">
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/TabsController.js"></script>
<script type="text/javascript" src="js/controllers/HomeController.js"></script>
<script type="text/javascript" src="js/controllers/ProductsController.js"></script>
<script type="text/javascript" src="js/controllers/ListController.js"></script>
<!-- REST Resources -->
<script type="text/javascript" src="js/resources/ProductResource.js"></script>

</head>
<body class="container-fluid">
		<div class="header">
			<nav class="nav navbar-default navbar-custom" ng-controller="TabsController">
				<div class="container-fluid">
					<div class="row">
						<div align="center" class="col-sm-12 navbar-header site-title">Grocero</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<ul style="width: 100%" class="nav navbar-nav custom-nav">
								<li style="width: 25%;text-align: center;" ng-repeat="tab in tabs">
									<a ng-click="loadView(tab)" href="#/{{tab}}">{{tab|uppercase}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="container-fluid" ng-view></div>
</body>
</html>